In [5]:
#Dependency
import pandas as pd

#Included the two columns of interest: States and 2023 Total Estimated Sales
US_gun_sales = {
    'Province_State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
    'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
    'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
    
    '2023 Total Estimated Sales': ["487,077", "80,341", "407,288", "200,279", "1,043,421", "443,800", "120,044", "47,080", "4,351", "1,316,471", "418,452", "160,120", "504,452", "498,169", "82,795", "179,350", "288,877", "282,155", "118,297", 
    "213,437", "136,398", "555,650", "309,425", "227,199", "520,488", "134,008", "26,987", "118,998", "136,502", "175,711", "163,624", "337,814", "499,561", "66,933", "583,314", "325,700", "446,556", "841,523", "28,555", "259,145", "72,303", 
    "633,015", "1,347,589", "143,430", "46,518", "581,698", "489,551", "163,057", "413,680", "65,102"]
}

#Convert to DataFrame
US_gun_sales_df = pd.DataFrame(US_gun_sales)

#Cleanse and convert the '2023 Total Estimated Sales' column to numeric values
US_gun_sales_df['2023 Total Estimated Sales'] = US_gun_sales_df['2023 Total Estimated Sales'].str.replace(',', '').str.replace('"', '').astype(int)

US_gun_sales_df

          Province_State  2023 Total Estimated Sales
0                Alabama                      487077
1                 Alaska                       80341
2                Arizona                      407288
3               Arkansas                      200279
4             California                     1043421
5               Colorado                      443800
6            Connecticut                      120044
7               Delaware                       47080
8   District of Columbia                        4351
9                Florida                     1316471
10               Georgia                      418452
11                 Idaho                      160120
12              Illinois                      504452
13               Indiana                      498169
14                  Iowa                       82795
15                Kansas                      179350
16              Kentucky                      288877
17             Louisiana                      282155
18                 Maine                      118297
19              Maryland                      213437
20         Massachusetts                      136398
21              Michigan                      555650
22             Minnesota                      309425
23           Mississippi                      227199
24              Missouri                      520488
25               Montana                      134008
26              Nebraska                       26987
27                Nevada                      118998
28         New Hampshire                      136502
29            New Jersey                      175711
30            New Mexico                      163624
31              New York                      337814
32        North Carolina                      499561
33          North Dakota                       66933
34                  Ohio                      583314
35              Oklahoma                      325700
36                Oregon                      446556
37          Pennsylvania                      841523
38          Rhode Island                       28555
39        South Carolina                      259145
40          South Dakota                       72303
41             Tennessee                      633015
42                 Texas                     1347589
43                  Utah                      143430
44               Vermont                       46518
45              Virginia                      581698
46            Washington                      489551
47         West Virginia                      163057
48             Wisconsin                      413680
49               Wyoming                       65102

In [4]:
#Export CSV file
US_gun_sales_df.to_csv('US_gun_sales_data.csv', index=False)